@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/pitch-pattern.png');
  background-blend-mode: soft-light;
  @apply bg-green-950; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.unskew{
  @apply skew-x-12 block
}
